body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    width: 400px;
    background: white;
    padding: 20px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h2 {
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}